html{
  background-color: grey;
  padding: .5%;
}

body{
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: 1%;
  background-color: rgb(44, 51, 55);
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  padding: 1%;
  background-color: rgb(158, 158, 158);
}